{% extends '#edit.html' %}
{% block HERDER_CODE -%}
<script type="text/javascript">
Validata = {
	errorElement:"span",
	errorPlacement:function(error, element) {error.appendTo( element.parent().find('.err') );},
	success:function(label) {label.text('　').addClass("success");},
	rules:{remark:{required:true}},
	messages:{remark:"请确认删除的说明！"}
}
</script>
{% endblock -%}
{% block HERDER_ROUTE -%}营销数据<span class="s7">&gt;&gt;</span><span class="red s14b">删除账号</span>{% endblock -%}
{% block BODY_FORM_BEFOR -%}
<div class="tips-line tips-930b">删除时会自动处理关联的其他数据，且不可恢复，请谨慎执行！</div>
{% endblock -%}
{% block BODY_FORM -%}
<table width="100%" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#DCDCDC" class="table_editor">
  <tr height="20">
	<td width="120" align="right" class="blue">即将删除的资源 ：</td>
	<td>
		用户名为【<b>{{Query.name}}</b>】的{{Query.gname}}账号
	</td>
  </tr>
  <tr height="20">
	<td align="right" class="blue">关联的 其他 数据 ：</td>
	<td>

	</td>
  </tr>
  <tr height="20">
	<td align="right" class="blue">确认并说明 ：</td>
	<td><span class="x">*</span><input type="hidden" name="id" value="{{Query.id}}" />
	  <input type="text" name="remark" size="30" value="" />
	  <span class="err"></span></td>
  </tr>
</table>
{% endblock -%}