{% extends '#list.html' %}
{% block HERDER_CODE -%}
<style>
.preview{
	width:150px;
	height:30px;
	display:block;
	background-repeat:no-repeat;
	background-size:cover;
	border:solid 1px #000;
}
</style>
{% endblock -%}
{% block HERDER_ROUTE -%}营销数据<span class="s7">&gt;&gt;</span><span class="red s14b">数据源管理</span>{% endblock -%}
{% block BODY_SEARCH -%}
  电话/账号昵称包含
  <input name="tel" type="text" id="kw" class="Input" onFocus="this.select();" onMouseOver="this.focus();" value="{{ so.tel }}" size="16">
  &nbsp;的数据源
    <input type="text" name="fromTime" value="" placeholder="开始时间">
    <input type="text" name="toTime" value="" placeholder="结束时间">
{% endblock -%}
{% block BODY_OPERA -%}
	<option value="{/----}add">新建数据源</option>
{% endblock -%}
{% block BODY_TABLE -%}
  <table class="table" cellspacing="1" cellpadding="0" width="100%">
    <tr class="tabletitle">
      <th width="20%" align="center">运营账号</th>

      <th width="10%" align="center">媒体号</th>
      <!--
       <th width="10%" align="center">token</th>
       -->
      <th width="20%" align="center">发布内容</th>
      <th width="20%" align="center">审核未通过</th>
      <th width="20%" align="center">创建时间</th>
      <th width="20%" align="center">最近登陆</th>
      <th width="20%" align="center">操作</th>
    </tr>
    {% if not query.data -%}
    <tr>
      <td colspan="11" align="center">无数据</td>
    </tr>
    {% else -%}
	{% for q in query.data -%}
    <tr height="20">
      <td align="center">{{ q.tel }}</td>
        <td align="center"><a href="/distribution/media?parent_id={{ q.oid }}">{{ q.mediaCount }}</a></td>
      <!--
        <td align="center">{{ q.token }}</td>
       -->
        <td align="center"><a href="/distribution/publishsource?userid={{ q.oid }}">{{ q.sourceCount }}</a></td>
        <td align="center"><a href="/distribution/publishsource?userid={{ q.oid }}&video_status=2">{{ q.forbiddenCount }}</a></td>
      <td align="center">{{ q.addtime|dateformat('%Y-%m-%d %H:%M:%S') }}</td>
      <td align="center">{{ q.updtime|dateformat('%Y-%m-%d %H:%M:%S') }}</td>
      <!--<td align="center">{{ q.token}}</td> -->
      <td align="center"><select class="input opera-line">
          <option value="">选择...</option>
          <option value="{/----}edit?id={{ q.oid }}">编辑</option>
          <option value="{/----}empower?id={{ q.oid }}">授权</option>
          <option value="{/----}delete?id={{ q.oid }}">删除</option>
        </select>
	  </td>
    </tr>{% endfor -%}
    {% endif -%}
    <tr height="20">
      <td colspan="11" align="center">{{ query.bar|safe }}</td>
    </tr>
  </table>
{% endblock -%}