{% extends '#edit.html' %}
{% block HERDER_CODE -%}
<script type="text/javascript" src="/script/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
$(document).ready(function() {

});
Validata = {
	errorElement: "span",
	errorPlacement: function(error, element) {error.appendTo( element.parent().find('.err') );},
	success: function(label) {label.text('　').addClass("success");},
	rules: {
		gid: {required:true},
		name: {required:true},
		passwd: {required:true},
	},
	messages: {
        gid:     "您没有选择账号组！",
        name:      "请填写账号用户名！",
        passwd:   "请填写账号密码！",
	}
}
</script>
{% endblock -%}
{% block HERDER_ROUTE -%}营销数据<span class="s7">&gt;&gt;</span><span class="red s14b">账号</span><span class="s7">&gt;&gt;</span><span class="s14b">编辑</span>{% endblock -%}
{% block BODY_FORM -%}
<table width="100%" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#DCDCDC" class="table_editor">
	<tr height="20">
		<td width="120" align="right" class="blue">账号组：</td>
		<td><span class="x">*</span><input type="hidden" name="id" value="{{Query.id}}" />
		  <select id="gid" name="gid">
			  <option value="">请选择账号组</option>
			  {% for g in groups %}}
			  <option value="{{g.id}}"{% if g.id==Query.gid %} selected{% endif %}>{{g.name}}</option>
			  {% endfor %}}
		  </select>
		  <span class="err"></span>
		</td>
	</tr>
  <tr height="20">
	<td width="120" align="right" class="blue">账号用户名：</td>
	 <td><span class="x">*</span> <input type="text" name="name" value="{{Query.name}}" />
	  <span class="err"></span></td>
  </tr>
  <tr height="20">
	<td align="right" class="blue">账号密码 ：</td>
	<td><span class="x">*</span>
	  <input type="text" name="passwd" value="{{Query.passwd}}" />
	  <span class="err"></span></td>
  </tr>
<tr height="20">
	<td align="right" class="blue">可用状态 ：</td>
	<td>
	  <input type="radio" name="available" id="available0" value="0"{% if Query.available==0 %} checked{%endif%}/><label for="available0">不可用</label>
	  <input type="radio" name="available" id="available1" value="1"{% if Query.available!=0 %} checked{%endif%}/><label for="available1">可用</label>
	  <span class="err"></span></td>
  </tr>

</table>
{% endblock -%}