{% extends '#list.html' %}
{% block HERDER_CODE -%}
<style>
.preview{
	width:150px;
	height:30px;
	display:block;
	background-repeat:no-repeat;
	background-size:cover;
	border:solid 1px #000;
}
</style>
{% endblock -%}
{% block HERDER_ROUTE -%}资源管理<span class="s7">&gt;&gt;</span><span class="red s14b">服务器</span>{% endblock -%}
{% block BODY_SEARCH -%}
  <select id="kt" name="kt">
	<option value="1"{{so.kt |selected("1")}}>摘要</option>
	<option value="2"{{so.kt |selected("2")}}>IP地址</option>
  </select>
  &nbsp;中包含&nbsp;
  <input name="kw" type="text" id="kw" class="Input" onFocus="this.select();" onMouseOver="this.focus();" value="{{ so.kw }}" onBlur="def_jihe.keyword = encodeURI(this.value);" size="16">
  &nbsp;的，且放置在&nbsp;
  <select name="plat" id="plat">
    <option value="">所有地点</option>
    <option value="沈联通"{{so.plat |selected("沈联通")}}>沈联通</option>
    <option value="百度云"{{so.plat |selected("百度云")}}>百度云</option>
    <option value="阿里云"{{so.plat |selected("阿里云")}}>阿里云</option>
    <option value="腾讯云"{{so.plat |selected("腾讯云")}}>腾讯云</option>
    <option value="华为云"{{so.plat |selected("华为云")}}>华为云</option>
    <option value="石家庄机房"{{so.plat |selected("石家庄机房")}}>石家庄机房</option>
    <option value="沈阳机房"{{so.plat |selected("沈阳机房")}}>沈阳机房</option>
    <option value="长春机房"{{so.plat |selected("长春机房")}}>长春机房</option>
    <option value="二级公司"{{so.plat |selected("二级公司")}}>二级公司</option>
  </select>
  &nbsp;的&nbsp;
  <select id="status" name="status" class="select-auto">
	  <option value="">所有状态</option>
	  <option value="200"{{so.status |selected("200")}}>　正常　</option>
	  <option value="403"{{so.status |selected("403")}}>　下架　</option>
  </select>
  服务器
{% endblock -%}
{% block BODY_OPERA -%}
	<option value="{/----}edit">新服务器上架</option>
{% endblock -%}
{% block BODY_TABLE -%}
  <table class="table" cellspacing="1" cellpadding="0" width="100%">
    <tr class="tabletitle">
      <th width="10%" align="center">操作</th>
      <th width="15%" align="center">摘要</th>
      <th width="6%" align="center">爬虫</th>
      <th width="10%" align="center">IP地址</th>
      <th width="6%" align="center">管理员</th>
      <th width="8%" align="center">放置地点</th>
      <th width="10%" align="center">操作系统</th>
      <th width="25%" align="center">设备配置</th>
      <th width="10%" align="center">内网IP</th>
    </tr>
    {% if not query.data -%}
    <tr>
      <td colspan="9" align="center">无数据</td>
    </tr>
    {% else -%}
	{% for q in query.data -%}
    <tr height="20">
      <td align="center"><select class="input opera-line">
          <option value="">选择...</option>
          <option value="{/----}edit?id={{ q.id }}">编辑</option>
          <option value="{/----}monitor?sid={{ q.id }}">进程监听</option>
          <option value="{/2099}delete?id={{ q.id }}">删除</option>
        </select>
	  </td>
      <td align="center">{{ q.brief }}</td>
      <td align="center">0</td>
      <td align="center">{{ q.ipaddr }}</td>
      <td align="center">{{ q.sa }}</td>
      <td align="center">{{ q.plat }}</td>
      <td align="center">{{ q.vir |selected(1,'[虚拟]') }}{{ q.env }}</td>
      <td align="left">{{ q.hardware |truncate(60) }}</td>
      <td align="center">{{ q.lanip }}</td>
    </tr>{% endfor -%}
    {% endif -%}
    <tr height="20">
      <td colspan="9" align="center">{{ query.bar|safe }}</td>
    </tr>
  </table>
{% endblock -%}