{% extends '#edit.html' %}
{% block HERDER_CODE -%}
<script type="text/javascript" src="/script/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#load_preview').upload2(); //文件上传，预览模式
	$('#load_package').upload1(); //文件上传，预览模式
	var editorElement = CKEDITOR.replace('detail_editor'); //编辑器
});
Validata = {
	errorElement: "span",
	errorPlacement: function(error, element) {error.appendTo( element.parent().find('.err') );},
	success: function(label) {label.text('　').addClass("success");},
	rules: {
		brief:	 {required:true},
		category:{required:true},
		scene:	 {required:true},
		trade:	 {required:true},
		preview: {required:true},
		creator: {required:true}
	},
	messages: {
		brief: 	 "需要为方案设置一个编号！",
		category:"您没有选择方案的类别！",
		scene:   "您没有选择方案的场景！",
		trade:   "您没有选择方案的行业！",
		preview: "您没有上传预览图片！",
		creator: "您没有注名策划人！"
	}
}
</script>
{% endblock -%}
{% block HERDER_ROUTE -%}资源管理<span class="s7">&gt;&gt;</span><span class="red s14b">方案资源</span><span class="s7">&gt;&gt;</span><span class="s14b">编辑（发布）资源</span>{% endblock -%}
{% block BODY_FORM_BEFOR -%}
<div class="tips-line tips-930b">适用于网站、视频、平面的<span>方案</span>资源发布和编辑</div>
<div id="helper_play"></div>
{% endblock -%}
{% block BODY_FORM -%}
<table width="100%" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#DCDCDC" class="table_editor">
  <tr height="20">
	<td width="120" align="right" class="blue">名称/标题 ：</td>
	<td><span class="x">*</span><input type="hidden" name="id" value="{{Resource.id}}" />
	  <input type="text" name="brief" value="{{Resource.brief}}" />
	  <span class="err"></span></td>
  </tr>
  <tr height="20">
	<td align="right" class="blue">类别 ：</td>
	<td><span class="x">*</span>
	  <select name="category" id="category">
		<option value="">选择类别...</option>
		<optgroup label="营销方案">
		  <option value="整合营销"{{Resource.category |selected("整合营销")}}>整合营销</option>
		  <option value="数字营销"{{Resource.category |selected("数字营销")}}>数字营销</option>
		  <option value="线下营销"{{Resource.category |selected("线下营销")}}>线下营销</option>
		  <option value="其他营销"{{Resource.category |selected("其他营销")}}>其他营销</option>
		</optgroup>
		<optgroup label="智能云方案">
		  <option value="百度智能云"{{Resource.category |selected("百度智能云")}}>百度智能云</option>
		  <option value="智能小程序"{{Resource.category |selected("智能小程序")}}>智能小程序</option>
		  <option value="其他云方案"{{Resource.category |selected("其他云方案")}}>其他云方案</option>
		</optgroup>
		<optgroup label="其他方案">
		  <option value="其他"{{Resource.category |selected("其他")}}>其他</option>
		</optgroup>
	  </select>
	  <span class="err"></span></td>
  </tr>
  <tr height="20">
	<td align="right" class="blue">适用场景 ：</td>
	<td><span class="x">*</span>
	  <input type="checkbox" name="scene" value="信息流"{{Resource.scene |checked("信息流")}} /> 信息流　
	  <input type="checkbox" name="scene" value="落地页"{{Resource.scene |checked("落地页")}} /> 落地页　
	  <input type="checkbox" name="scene" value="小视频"{{Resource.scene |checked("小视频")}} /> 小视频　
	  <input type="checkbox" name="scene" value="朋友圈"{{Resource.scene |checked("朋友圈")}} /> 朋友圈　
	  <br>                               
	  <input type="checkbox" name="scene" value="线下展示"{{Resource.scene |checked("线下展示")}} /> 线下展示
	  <input type="checkbox" name="scene" value="电商平台"{{Resource.scene |checked("电商平台")}} /> 电商平台
	  <input type="checkbox" name="scene" value="视频网站"{{Resource.scene |checked("视频网站")}} /> 视频网站
	  <input type="checkbox" name="scene" value="其他"{{Resource.scene |checked("其他")}} /> 其　　他
	  <br>
	  <span class="err"></span></td>
  </tr>
  <tr height="20">
	<td align="right" class="blue">适配行业 ：</td>
	<td><span class="x">*</span>
      <input type="checkbox" name="trade" value="安全安保"{{Resource.trade |checked("安全安保")}} /> 安全安保
      <input type="checkbox" name="trade" value="办公文教"{{Resource.trade |checked("办公文教")}} /> 办公文教
      <input type="checkbox" name="trade" value="旅游住宿"{{Resource.trade |checked("旅游住宿")}} /> 旅游住宿
      <input type="checkbox" name="trade" value="车辆物流"{{Resource.trade |checked("车辆物流")}} /> 车辆物流
      <input type="checkbox" name="trade" value="成人用品"{{Resource.trade |checked("成人用品")}} /> 成人用品
      <input type="checkbox" name="trade" value="出版传媒"{{Resource.trade |checked("出版传媒")}} /> 出版传媒
      <input type="checkbox" name="trade" value="电脑硬件"{{Resource.trade |checked("电脑硬件")}} /> 电脑硬件
      <input type="checkbox" name="trade" value="电子电工"{{Resource.trade |checked("电子电工")}} /> 电子电工
      <input type="checkbox" name="trade" value="房产装修"{{Resource.trade |checked("房产装修")}} /> 房产装修
      <input type="checkbox" name="trade" value="分类平台"{{Resource.trade |checked("分类平台")}} /> 分类平台
	  <br>
      <input type="checkbox" name="trade" value="服装鞋帽"{{Resource.trade |checked("服装鞋帽")}} /> 服装鞋帽
      <input type="checkbox" name="trade" value="箱包饰品"{{Resource.trade |checked("箱包饰品")}} /> 箱包饰品
      <input type="checkbox" name="trade" value="化工制品"{{Resource.trade |checked("化工制品")}} /> 化工制品
      <input type="checkbox" name="trade" value="机械设备"{{Resource.trade |checked("机械设备")}} /> 机械设备
      <input type="checkbox" name="trade" value="生活用品"{{Resource.trade |checked("生活用品")}} /> 生活用品
      <input type="checkbox" name="trade" value="家用电器"{{Resource.trade |checked("家用电器")}} /> 家用电器
      <input type="checkbox" name="trade" value="教育培训"{{Resource.trade |checked("教育培训")}} /> 教育培训
      <input type="checkbox" name="trade" value="节能环保"{{Resource.trade |checked("节能环保")}} /> 节能环保
      <input type="checkbox" name="trade" value="金融服务"{{Resource.trade |checked("金融服务")}} /> 金融服务
      <input type="checkbox" name="trade" value="彩票礼品"{{Resource.trade |checked("彩票礼品")}} /> 彩票礼品
	  <br><span class="x"> </span>
      <input type="checkbox" name="trade" value="婚纱摄影"{{Resource.trade |checked("婚纱摄影")}} /> 婚纱摄影
      <input type="checkbox" name="trade" value="美容化妆"{{Resource.trade |checked("美容化妆")}} /> 美容化妆
      <input type="checkbox" name="trade" value="母婴护理"{{Resource.trade |checked("母婴护理")}} /> 母婴护理
      <input type="checkbox" name="trade" value="农林牧渔"{{Resource.trade |checked("农林牧渔")}} /> 农林牧渔
      <input type="checkbox" name="trade" value="软件系统"{{Resource.trade |checked("软件系统")}} /> 软件系统
      <input type="checkbox" name="trade" value="商务服务"{{Resource.trade |checked("商务服务")}} /> 商务服务
      <input type="checkbox" name="trade" value="生活服务"{{Resource.trade |checked("生活服务")}} /> 生活服务
      <input type="checkbox" name="trade" value="食品保健"{{Resource.trade |checked("食品保健")}} /> 食品保健
      <input type="checkbox" name="trade" value="手机数码"{{Resource.trade |checked("手机数码")}} /> 手机数码
      <input type="checkbox" name="trade" value="通讯设备"{{Resource.trade |checked("通讯设备")}} /> 通讯设备
	  <br>
      <input type="checkbox" name="trade" value="网络服务"{{Resource.trade |checked("网络服务")}} /> 网络服务
      <input type="checkbox" name="trade" value="医疗服务"{{Resource.trade |checked("医疗服务")}} /> 医疗服务
      <input type="checkbox" name="trade" value="游戏娱乐"{{Resource.trade |checked("游戏娱乐")}} /> 游戏娱乐
      <input type="checkbox" name="trade" value="运动休闲"{{Resource.trade |checked("运动休闲")}} /> 运动休闲
      <input type="checkbox" name="trade" value="招商加盟"{{Resource.trade |checked("招商加盟")}} /> 招商加盟
      <input type="checkbox" name="trade" value="社会组织"{{Resource.trade |checked("社会组织")}} /> 社会组织
      <input type="checkbox" name="trade" value="国际组织"{{Resource.trade |checked("国际组织")}} /> 国际组织
      <input type="checkbox" name="trade" value="美食餐饮"{{Resource.trade |checked("美食餐饮")}} /> 美食餐饮
	  <input type="checkbox" name="trade" value="其他"{{Resource.trade |checked("其他")}} /> 其　　他
	  <br>
	  <span class="err"></span></td>
  </tr>
  <tr height="20">
	<td align="right" class="blue">预览图片 ：</td>
	<td><span class="x">*</span>
	  <input type="text" name="preview" value="{{Resource.preview}}" size="50" id="load_preview" />
	  <span class="err"></span></td>
  </tr>
  <tr height="20">
	<td align="right" class="blue">演示地址 ：</td>
	<td><span class="x"> </span>
	  <input type="text" name="example" value="{{Resource.example}}" size="50" />
	  <span class="err"></span></td>
  </tr>
  <tr height="20">
	<td align="right" class="blue">详细介绍 ：</td>
	<td><textarea id="detail_editor" name="detail">{{Resource.detail}}</textarea>
	</td>
  </tr>
  <tr height="20">
	<td align="right" class="blue">策划人 ：</td>
	<td><span class="x">*</span>
	  <input type="text" name="creator" value="{{Resource.creator}}" />
	  <span class="err"></span></td>
  </tr>
</table>
{% endblock -%}