{% include '#meta.html' %}
<script type="text/javascript" src="/script/jquery.validate.js"></script>
{% block HERDER_CODE -%}{% endblock -%}
<script type="text/javascript">
$.validator.setDefaults({submitHandler:function(form){form.submit();}});
$(document).ready(function() {
	$("#submit, #previu").hover(function() {this.className = 'btnover';}, function() {this.className = 'btn';});
	$("#previu").click(function() {history.back();});
	//表单验证
	$("#edit").validate(Validata);
});
</script>
</head>
<body>
<div class="nei">
  <div class="path"><img src="/images/ico-home.gif" width="16" height="15" />&nbsp;{% block HERDER_ROUTE -%}{% endblock -%}</div>
	{% block BODY_FORM_BEFOR -%}{% endblock -%}
  <form name="edit" id="edit" method="post" action=""{% block FORM_ENCTYPE -%}{% endblock -%}>
	  <div class="view-title">
      <div class="view-title-left"><img src="/images/ico-logo-line.gif" alt="" width="2" height="12" /> 正在 {{brief}}</div>
      <div class="view-title-right"></div>
    </div>
    <div class="view-J"></div>
    <div>
		{% block BODY_FORM -%}{% endblock -%}
    </div>
    <br/>
    <div class="opera">
      <input type="submit" class="btn" id="submit" value=" 确认并提交 " />
      <input type="hidden" name="act" value="do" />&nbsp;&nbsp;
      <input type="button" class="btn" id="previu" value=" 返回上一页 " />
    </div>
  </form>
	{% block BODY_FORM_AFTER -%}{% endblock -%}
</div>
</body>
</html>