<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ title }}_盘古云资源与应用管理</title>
<link href="/script/ui1008.css" rel="stylesheet" type="text/css" />
<link href="/script/jquery.alerts.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/script/jquery-1.4.2.js"></script>
<script type="text/javascript" src="/script/jquery.alerts.js"></script>
<script type="text/javascript" src="/script/apps-10.8.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="/script/ie/DD_belatedPNG_0.0.8a-min.js"></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="/script/ie/html5shiv.js"></script>
<script type="text/javascript" src="/script/ie/respond.min.js"></script>
<![endif]-->